.navbar-dark .navbar-nav .nav-link {
    color: rgb(255 255 255);
    font-weight: 400 !important;

}

.btn-group.btn-group-fill.w-100 .btn:focus {
    outline: none;
    box-shadow: none;

}

.clicked {

    background-color: #0dcaf0;
    color: black;
    /* box-shadow: 0 0 .25rem rgba(13, 202, 240, .5);
    outline: 2px solid #0dcaf0; */
    /* box-shadow: 0 0 4px rgba(13, 202, 240, 0.4);  */


}

.my-tooltip {
    background-color: yellow;
    color: black;
    border: 1px solid black;
    padding: 6px;
}